<!-- <nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <img src="./assets/images/workcitycoworkinglightlogo.png" alt="logo" width="7%">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button (click)="logOut()" class="btn btn-outline-light">Logout</button>
      </form>
    </div>
  </nav> -->
  <div style="display: flex; justify-content: space-between; background-color: #fff;padding:18px 50px;box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);">
    <div style="font-size: 22px; font-weight:550; " class="amburger">Add Member</div>
<div style="font-size: 18px; font-weight:550; ">Admin</div>
</div>
<div class="form-container">
    <div class="mt-5" style="text-align:center"><h2>Registration Form</h2></div>
    <form [formGroup]="memberForm">
        <div class="row mt-5">
            <div class="col-md-12 pb-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" formControlName="fullname" name="fullname" [ngClass]="{ 'is-invalid': submitted && formControl.fullname.errors}">
                    <label for="floatingInput">FullName</label>
                    <div *ngIf="submitted && formControl.fullname.errors" class="invalid-feedback">
                        <div *ngIf="formControl.fullname.errors.required">Name is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email" name="email" [ngClass]="{ 'is-invalid': submitted && formControl.email.errors }">
                    <label for="floatingInput">Email address</label>
                    <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
                        <div *ngIf="formControl.email.errors.required">Email is required</div>
                        <div *ngIf="formControl.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="Phonenumber" formControlName="phonenumber" [ngClass]="{ 'is-invalid': submitted && formControl.phonenumber.errors }">
                    <label for="floatingInput">Phone Number</label>
                    <div *ngIf="submitted && formControl.phonenumber.errors" class="invalid-feedback">
                        <div *ngIf="formControl.phonenumber.errors.required">Phone number is required</div>
                        <div *ngIf="formControl.phonenumber.errors.pattern">Phone number must be at least 11 characters</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="amount" formControlName="amount" [ngClass]="{ 'is-invalid': submitted && formControl.amount.errors }">
                    <label for="floatingInput">Amount</label>
                    <div *ngIf="submitted && formControl.amount.errors" class="invalid-feedback">
                        <div *ngIf="formControl.amount.errors.required">Amount is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="startdate" formControlName="startdate" id="floatingInput" [ngClass]="{ 'is-invalid': submitted && formControl.startdate.errors }">
                    <label for="floatingInput">Start Date</label>
                    <div *ngIf="submitted && formControl.startdate.errors" class="invalid-feedback">
                        <div *ngIf="formControl.startdate.errors.required">Start date is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control" name="enddate" formControlName="enddate" id="floatingInput" [ngClass]="{ 'is-invalid': submitted && formControl.enddate.errors }">
                    <label for="floatingInput">End Date</label>
                    <div *ngIf="submitted && formControl.enddate.errors" class="invalid-feedback">
                        <div *ngIf="formControl.enddate.errors.required">End date is required</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="businessname" formControlName="businessname" [ngClass]="{ 'is-invalid': submitted && formControl.businessname.errors }">
                    <label for="floatingInput">Business Name</label>
                    <div *ngIf="submitted && formControl.businessname.errors" class="invalid-feedback">
                        <div *ngIf="formControl.businessname.errors.required">Business name is required</div>
                    </div>
                </div>

                <div class="form-floating mt-4 mb-4">
                    <textarea class="form-control" name="businessprofile" formControlName="businessprofile"  id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Business Profile</label>
                </div>

                <select class="form-select form-select-lg mb-3" formControlName="plan" name="selectPlan" aria-label=".form-select-md example" [ngClass]="{ 'is-invalid': submitted && formControl.plan.errors }">
                    <option value="" selected>Membership Type</option>
                    <option value="PO">PRIVATE OFFICE PLAN</option>
                    <option value="SD">SHARED OFFICE SPACE</option>
                    <option value="VO">VIRTUAL OFFICE</option>
                    <option value="MR">MEETING ROOM</option>
                    <option value="EMH">EVENT AND MASTERCLASS HALL</option>
                    <option value="PS">PODCAST STUDIO</option>
                    <div *ngIf="submitted && formControl.plan.errors" class="invalid-feedback">
                        <div *ngIf="formControl.plan.errors.required">Plan is required</div>
                    </div>
                  </select>

                <button (click)="regMember()" style="background-color: #000; color:#fff" type="submit" class="btn btn btn-lg mt-4">Submit</button>
            </div>
        </div>
    </form>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" type="ball-8bits">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>
  