<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <img src="./assets/images/workcitycoworkinglightlogo.png" alt="logo" width="7%">
      <form class="d-flex">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button (click)="logOut()" class="btn btn-outline-light">Logout</button>
      </form>
    </div>
  </nav>
<div class="form-container">
    <div class="mt-5" style="text-align:center"><h2>Registration Form</h2></div>
    <form>
        <div class="row mt-5">
            <div class="col-md-12 pb-5">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="fullname">
                    <label for="floatingInput">FullName</label>
                  </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" name="email">
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="Phonenumber">
                    <label for="floatingInput">Phone Number</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput" name="amount">
                    <label for="floatingInput">Amount</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="floatingInput">
                    <label for="floatingInput">Start Date</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" name="businessname">
                    <label for="floatingInput">Business Name</label>
                </div>

                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Membership Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>

                <button style="background-color: #000; color:#fff" type="button" class="btn btn btn-lg mt-4">Submit</button>
            </div>
        </div>
    </form>
</div>