<div style="display: flex; justify-content: space-between; background-color: #fff;padding:18px 50px;box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);">
    <div style="font-size: 22px; font-weight:550; " class="amburger">Dashboard</div>
<div style="font-size: 18px; font-weight:550; ">Admin</div>
</div>
<div class="single-container">
    <div class="row" style="justify-content: center; margin-top:4%">
        <div class="col-sm-3 ">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:25px; font-weight:600">1200</div>
                        <div class="pt-2" style="color:#B5861E; font-size:14px">PRIVATE OFFICE</div>
                    </div>
                    <div style="border-radius: 5px;"><i style="font-size: 25px;" class="fas fa-building"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:25px; font-weight:600">1200</div>
                        <div class="pt-2" style="color:#B5861E; font-size:14px">SHARED DESK</div>
                    </div>
                    <div style=" border-radius: 5px;"><i style="font-size: 25px;" class="fas fa-table"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:25px; font-weight:600">350</div>
                        <div class="pt-2" style="color:#B5861E; font-size:14px">VIRTUAL OFFICE</div>
                    </div>
                    <div style=" border-radius: 5px;"><i style="font-size: 25px;"  class="fas fa-laptop-house"></i></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content-container">
                <div style="display: flex; justify-content: space-between !important;">
                    <div>
                        <div style=" font-size:25px; font-weight:600">{{Members.length}}</div>
                        <div class="pt-2" style="color:#B5861E; font-size:14px">Total Members</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style="display:flex; justify-content: space-between; margin-top:4%">
        <div class="col-md-6" style="font-size:20px; ">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Here" name="fullname" [(ngModel)] = "fullname" (ngModelChange)="search()">
            </div>
        </div>
        <div class="col-md-6" id="navigations" style=" justify-content:space-around; ">
    
        </div>
    </div>


    <div class="mt-2">  
        <div class="recent-grid" >
            <div class="projects">
                <!-- <div class="card"> -->
                    <!-- <div class="card-body"  > -->
                        <div class="table-responsive">
                            <table width="100%">
                                <thead style="background: #000; color:white; font-size:15px;padding:10px;">
                                    <tr style="padding:30px">
                                        <!-- <td>S/N</td> -->
                                        <td>NAME</td>    
                                        <td>EMAIL</td>
                                        <td>PHONE NUMBER</td>
                                        <td>PLAN</td>    
                                        <td>AMOUNT</td>
                                        <td>START DATE</td>
                                         
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Member of Members | paginate : {itemsPerPage:8, currentPage:p}  index as i">
                                        <!-- <td>{{i + 1}}</td> -->
                                        <td style="color:#00356B">{{Member.fullname}}</td>
                                        <td>{{Member.email}}</td>
                                        <td>{{Member.phonenumber}}</td>
                                        <td>{{Member.plan}}</td>
                                        <td>{{Member.amount}}</td>
                                        <td>{{Member.startdate}}</td>
                                    </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        </div> 
    </div>


<div class="sidebar">
    <li class="cancel" style="list-style:none; padding:20px; font-size:40px; cursor: pointer; float:right" (click)=" removeSideBar()"><i class="fas fa-times"></i></li>
</div>


