

.content-container{
    background: #FFFFFF;
    border: 1px solid #FFF5F5;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    justify-content: center;
    padding:24px
    /* width:20%    */
}

.single-container{
    width:90%;
    /* max-width:1900px; */
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 10px;
    font-size: 110%;
  }
  
  tr:nth-child(even) {
    background-color: #FFF5F5;
  }

  td{
    color:#7A7A7A
}

thead td{
    color: #fff !important;
}
/* 
//   tr:hover {
//     background-color: #fde7d1;
//   } */

@media (max-width:800px) {
  #navigations{
    display:none;
  }
}


.sidebar {
  background: #fff;
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* padding-top: 60px; */
  transition: 0.5s; 
}
.showsidebar {
  width: 300px;
  box-shadow:0 0 0 10000px rgba(0,0,0,.50);
}
.hidesidebar {
  width: 0px;
}

body.push {
  left:250px;
}

.cancel:hover{
  color:red
}

button {
  border: none!important   ;
  outline: none !important    ;
  box-shadow: none !important;
  outline-style: none !important;
}









