.background{
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/workcity.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.layer {
    background-color: rgba(4, 4, 4, 0.70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media only screen and (max-width: 600px) {
    .form-container{
      margin: 10px !important;
    }
}
