
        <div class="background">
            <div class="layer d-flex align-items-center justify-content-center">
                <main style="width: 95%; margin-top: auto; margin-bottom: auto; ">
                    <div class="container-fluid p-0 d-flex justify-content-center">
                        <!-- <h1 class="text-center">WORKCITY <br/>CO-WORKING</h1> -->
                        <img src="./assets/images/workcitycoworkinglightlogo.png" alt="" srcset="" class="img-fluid m-3" width="30%">

                    </div>
                    <div class="container-fluid d-flex align-items-center justify-content-center">
                        <a routerLink="accesspass" class="btn btn-outline-light btn-large col-10 m-4">Get Access Pass</a>
                    </div>
                    <div class="container-fluid d-flex align-items-center justify-content-center">
                        <a href="https://www.google.com/search?q=workcity&rlz=1C1SQJL_enNG800NG800&oq=work&aqs=chrome.1.69i60j69i59l2j69i57j69i60l4.4872j0j4&sourceid=chrome&ie=UTF-8#lrd=0x103b936f46a4cbb9:0x8d20c70089944f78,3,,," class="btn btn-outline-light btn-large col-10 m4">Leave a Review</a>
                    </div>
                    <div class="container-fluid d-flex align-items-center justify-content-center">
                        <a href="https://workcityafrica.com/plans" class="btn btn-outline-light btn-large col-10 m-4">View Plans</a>
                    </div>
                    <div class="container-fluid d-flex align-items-center justify-content-center">
                        <a  routerLink="login" class="btn btn-outline-light btn-large col-10 ">Staff Portal</a>
                    </div>
                </main>
            </div>
        </div>
