<div mat-dialog-title style="display: flex; justify-content: space-between; border-bottom: 0.5px solid #C4C4C4; width:100%;padding-bottom:10px">
    <div style="font-size: 15px; color:rgb(41, 75, 41); font-weight: 600;">Delete Member</div>
    <div class="delete"> <a class="btn btn-success" mat-dialog-close role="button" data-mdb-toggle="button">Close</a></div>
</div>

<mat-dialog-content>
    <div>
        <p>Are you absolutely sure you want to delete this member ?</p>
    </div>
    <div class="mb-3">
        <label style="color:gray; font-weight:500; padding:5px 0px">Please provide Business name</label>
        <input type="text" class="form-control">
    </div>
    <div>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</mat-dialog-content>